@import '../../../scss/variables';

.MapTabs {
  &_tabs {
    background-color: $neutral-0;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: $shadow-normal;
    left: 20px;
    min-width: 200px;
    padding-bottom: 53px;
    position: absolute;
    top: 20px;
    z-index: 2;
  }

  &_simulateButton {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    left: 20px;
    min-width: 200px;
    position: absolute;
    top: 138px;
    z-index: 2;
  }

  &_contents {
    background-color: $neutral-0;
    border-radius: 10px;
    bottom: 20px;
    box-shadow: $shadow-normal;
    left: 240px;
    overflow: auto;
    padding: 20px;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 3;

    &_closeButton {
      margin-bottom: 30px;
      padding: 0 !important;
      position: absolute;
      right: 20px;
      top: 20px;

      &_icon {
        color: $neutral-0 !important;
      }
    }

    &_title {
      background-color: $blue-400;
      color: $neutral-0;
      margin: -20px -20px 20px !important;
      padding: 20px;
      text-transform: uppercase;
    }

    &_dashboardRow {
      margin-bottom: 50px;

      &_title {
        margin-bottom: 20px !important;
      }
    }

    &_dashboardCard {
      box-shadow: $shadow-raised;
      padding: 20px;

      &_grid {
        grid-template-columns: 1fr 0.3fr !important;
      }

      &_rightColumn {
        text-align: right;
      }

      &_icon {
        color: $neutral-0 !important;
        font-size: 3.5rem !important;

        &___green {
          color: $green-400 !important;
        }
  
        &___blue {
          color: $blue-400 !important;
        }
  
        &___red {
          color: $red-400 !important;
        }
      }
    }

    &_viewHistoryButton {
      color: $blue-400;
    }

    &_viewLocationButton {
      color: $green-400;
    }
  }
}