.Tabs {
  &_button,
  &_link {
    text-transform: capitalize;
  }

  &_button {
    align-items: center;
    display: flex;
  }

  &_icon {
    font-size: 1.2rem;
    margin-right: 10px;
  }

  &___horizontal___lg,
  &___horizontal___sm {
    display: flex;
    overflow: auto;
  }

  &___vertical___lg {
    display: flex;
    flex-direction: column;
  }

  &___vertical___sm {
    display: flex;
    flex-direction: column;
  }
}
