@import './variables';
@import './fonts';

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
  width: 100%;
}

body {
  background-color: $neutral-0;
  color: $neutral-700;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

#root {
  height: 100%;
}

// DataTable
.data-table-extensions {
  margin-bottom: 10px;
  padding: 0;
}

.data-table-extensions > .data-table-extensions-filter {
  align-items: center;
  display: flex;
  float: right;
}

.data-table-extensions > .data-table-extensions-filter > .filter-text {
  border: 1px solid $neutral-300 !important;
  border-radius: 4px;
  margin-left: 10px;
  padding: 8px;
}

// Mapbox
.mapboxgl-popup-content {
  min-width: 300px;
  padding: 15px;
}